[package]
name = "mb8-cli"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
clap = { version = "4.5.51", features = ["derive"] }
minifb = "0.28.0"

mb8 = { path = "../mb8" }
mb8c = { path = "../mb8c" }
tempfile = "3.23.0"
fs = "0.0.5"

[lints]
workspace = true
